# Required by all Vapi API scripts
VAPI_API_KEY=

# Required by all Telnyx API scripts
TELNYX_API_KEY=

# Required by index.js
ASSISTANT_ID=6296063b-b382-4d14-b4e1-c537a12f90e0

# Required by call_log_for_tools.js and call_log_for_keywords.js
CALL_OF_ASSISTANT_ID=6296063b-b382-4d14-b4e1-c537a12f90e0
CALL_CREATED_DATE_FROM=2026-06-26
CALL_CREATED_DATE_TO=2026-07-15

# Required by download_pcaps_by_assistant_id.js
PCAPS_OF_ASSISTANT_ID=91380364-c3e2-4de2-a7f2-a3e80c896298

# Required by call_log_for_keywords.js
# Comma-separated, e.g. towel,towels,housekeeping
CALL_USER_MSG_SEARCH_KEYWORDS="housekeeping, house keeping, workorder, work order, towel, soap, coffee, water, shampoo, toilet, paper"
